/* General Reset */
body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Top Bar */
.topBar {
    background-color: #335f9f; /* Blue background */
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 14px;
}

/* Top Bar Links */
.socialMedia {
    display: flex; /* Align icons horizontally */
    gap: 20px;     /* Add space between icons */
}

.socialMedia a {
    color: white; /* Icon color */
    text-decoration: none;
}

.socialMedia i {
    font-size: 20px; /* Adjust icon size */
    transition: color 0.3s; /* Smooth hover effect */
}

/* Hover Colors for Each Icon */
.socialMedia a:nth-child(1):hover i {
    color: #1877F2; /* Facebook Blue */
}

.socialMedia a:nth-child(2):hover i {
    color: #E1306C; /* Instagram Pink */
}

.socialMedia a:nth-child(3):hover i {
    color: #FF0000; /* Yelp Red */
}

.socialMedia a:nth-child(4):hover i {
    color: #4285F4; /* Google Blue */
}

.socialMedia a:nth-child(5):hover i {
    color: #ff0000; /* youtube red */
}

.socialMedia a:nth-child(6):hover i {
    color: #000000; /* X black */
}